<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_f-star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,44},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>star_f-star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>star_f-star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>star_f-star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf49ffce4d5ff756b78f3b068e4d0327$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
