<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cattail_folder-Cattail_blink1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>Cattail_folder-Cattail_blink2.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>Cattail_folder-Cattail_eyebrow1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,140},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>Cattail_folder-Cattail_eyebrow2.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,87},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>Cattail_folder-Cattail_hat.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>Cattail_folder-Cattail_head.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{61,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>Cattail_folder-Cattail_paw1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,65},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>Cattail_folder-Cattail_paw2.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>Cattail_folder-Cattail_paw3.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,68},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>Cattail_folder-Cattail_spike.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>Cattail_folder-Cattail_tail.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,120},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>Cattail_folder-Cattail_tail2.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,87},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>Cattail_folder-Cattail_tail2_overlay.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,91},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cattail.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad3c72e3c918d4e20bc5607e618ed9b8$</string>
            <key>textureFileName</key>
            <string>Cattail.png</string>
        </dict>
    </dict>
</plist>
