<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{60,91}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{60,91}}</string>
                <key>sourceSize</key>
                <string>{66,103}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,101},{44,93}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{44,93}}</string>
                <key>sourceSize</key>
                <string>{62,97}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{42,97}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{42,97}}</string>
                <key>sourceSize</key>
                <string>{62,97}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,97}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{46,97}}</string>
                <key>sourceSize</key>
                <string>{62,97}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,95},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,199},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,149},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_innerarm_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,35},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_innerarm_hand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_jaw.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,71},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_leftarm_lower.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{34,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_leftarm_upper.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_leftfoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,199},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_lower.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,34},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_lowerbody1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,38},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_outerarm_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,71},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_outerarm_hand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,13},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_outerarm_upper2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,237},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_outerhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,35},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_rightarm_lower.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,21},{24,15}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_rightarm_upper.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,21},{20,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,23}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_rightfoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_rightleg_upper.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>Zombie_ladder_folder-Zombie_symbol_ladder_upper.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,235},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{19,26}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>Zombie_ladder_folder-Zomby_symbol_ladder_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{52,91}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{52,91}}</string>
                <key>sourceSize</key>
                <string>{62,97}</string>
            </dict>
            <key>Zombie_paper_folder-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_ladder.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94c67b85da22dc39e22778fecddb1414$</string>
            <key>textureFileName</key>
            <string>zombie_ladder.png</string>
        </dict>
    </dict>
</plist>
