<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RobotBiped_f-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>RobotBiped_f-chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,46},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>RobotBiped_f-crotch.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,57},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>RobotBiped_f-crus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,42}}</string>
                <key>sourceSize</key>
                <string>{14,42}</string>
            </dict>
            <key>RobotBiped_f-forearmL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>RobotBiped_f-forearmR.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,34},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>RobotBiped_f-handL.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,118},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>RobotBiped_f-handR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>RobotBiped_f-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>RobotBiped_f-legL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>RobotBiped_f-legR.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,84},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>RobotBiped_f-upperarmL.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,18},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>RobotBiped_f-upperarmR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>RobotBiped_f-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{80,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,16}}</string>
                <key>sourceSize</key>
                <string>{80,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotBiped.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6663838843efdc5d102e5127be2398e$</string>
            <key>textureFileName</key>
            <string>RobotBiped.png</string>
        </dict>
    </dict>
</plist>
